

.control-group.no-bottom-gap {
    margin-bottom:3px
}

.qr-code {
    width: 100px;
    height: 100px;
}
/* needed, because selection flyout was not fully visible, see #204 */
/*#sidebar_plugin_SpoolManager.collapse.in {*/
/*    overflow: visible;*/
/*}*/

#selectedSpools > div {
    display: flex;
    align-items: baseline;
    min-height: 1.8em;
    margin-top: 5px;
}
#selectedSpools > div > * {
    flex-grow: 0;
}
#selectedSpools > div > .spool-label {
    flex-grow: 1;
}
#selectedSpools .spool-remaining {
    white-space: nowrap;
}
#selectedSpools > div > div > .color-preview {
    margin-right: 0;
    vertical-align: middle;
    margin-top: -3px;
    cursor: auto;
}
#selectedSpools > div > div > .btn-group {
    vertical-align: middle;
    margin-top: -4px;
}
#selectedSpools > div > :not(:last-child) {
    padding-right: 5px;
}
#selectedSpools .dropdown-menu {
    max-height: 320px;
    overflow: auto;
}
#selectedSpools .dropdown-menu .filament-label {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    max-width: 180px;
    overflow: hidden;
}
#selectedSpools .dropdown-menu .filament-label > span {
    white-space: nowrap;
}

.debug-blue {
    outline: 1px solid blue;
}
.debug-red {
    outline: 1px solid red;
}
.debug-magenta {
    outline: 1px solid magenta;
}.debug-green {
    outline: 1px solid green;
}

.hack-flowbreak {
    overflow:visible !important;
}

.color-preview{
    border:1px solid #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.075);box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.075);height:1.429em;width:1.429em;display:inline-block;cursor:pointer;margin-right:5px}div.pick-a-color-markup .color-preview.current-color{margin-bottom:-5px
}

.truncatedText {
    white-space: nowrap;
    width: 250px;/* OR as much space that allows */
    overflow: hidden;
    text-overflow: ellipsis;
}

// TODO Maybe not needed any more
        .dropdown-menu {
            max-height: 120px;
            overflow-y: auto;
            overflow-x: hidden;
        }

/*   use of own span elemenst so that no one can break it (e.g. UI Customizer) */
.myspan12{width:940px}
.myspan11{width:860px}
.myspan10{width:780px}
.myspan9{width:700px}
.myspan8{width:620px}
.myspan7{width:540px}
.myspan6{width:460px}
.myspan5{width:380px}
.myspan4{width:300px}
.myspan3{width:220px}
.myspan2{width:140px}
.myspan1{width:60px}


/* styling for select dialog */
#dialog_spool_selection .modal-body {
    display: flex;
    flex-direction: column;
}

#dialog_spool_selection .modal-body > *:nth-last-child(n+2) {
    margin-bottom: 0.5em;
}

#dialog_spool_selection .filter {
    display: flex;
}

#dialog_spool_selection .filter > *:nth-last-child(n+2) {
    margin-right: 1.5em;
}

#dialog_spool_selection .table {
    margin-bottom: 0;
}

#dialog_spool_selection .spool-label {
    display: flex;
    align-items: center;
}





/*.modal.modal-wide .modal-dialog {*/
/*  width: 90%;*/
/*}*/

/*.modal-wide .modal-body {*/
/*  overflow-y: auto;*/
/*}*/

/*//////////// TESTZONE*/
/*.multiselect {*/
/*  width: 200px;*/
/*}*/

/*.selectBox {*/
/*  position: relative;*/
/*}*/

/*.selectBox select {*/
/*  width: 100%;*/
/*  font-weight: bold;*/
/*}*/

/*.overSelect {*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*}*/

/*#checkboxes {*/
/*  display: none;*/
/*  border: 1px #dadada solid;*/
/*}*/

/*#checkboxes label {*/
/*  display: block;*/
/*}*/

/*#checkboxes label:hover {*/
/*  background-color: #1e90ff;*/
/*}*/
