
<form id="settings_spoolmanager" class="form-horizontal" >


    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs" id="spoolmanger-settings-tab">
            <li class="active"><a href="#tab-spool-General" data-toggle="tab">General</a></li>
            <li><a href="#tab-spool-QR-Code" data-toggle="tab">QR - Code</a></li>
            <li><a href="#tab-spool-Export-Import" data-toggle="tab">Export / Import</a></li>
            <li><a href="#tab-spool-Storage" data-toggle="tab">Storage</a></li>
            <li><a href="#tab-spool-Debugging" data-toggle="tab">Debugging</a></li>
        </ul>
        <div class="tab-content">
            <!-- GENERAL - TAB -->
            <div class="tab-pane active" id="tab-spool-General">
                <div class="control-group">
                    <label class="control-label">Currency symbol</label>
                    <div class="controls">
                        <input type="text" class="input-mini text-center" data-bind="value: pluginSettings.currencySymbol">
                    </div>
                </div>
                <hr/>
                <h4>Notifications</h4>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: pluginSettings.reminderSelectingSpool" > Reminder for verifying the selected spool.
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: pluginSettings.warnIfSpoolNotSelected" > Warn, if no spool is selected.
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: pluginSettings.warnIfFilamentNotEnough" > Warn, if filament is not enough for print job
                        </label>
                        <span class="help-inline">Hint: It is only working, if the spool contains values for these fields: <br>
                            <code>diameter</code>, <code>density</code>, <code>total weight</code>!</span>
                    </div>
                </div>
<!--
                <h4>Default Catalogs</h4>
                <div>
                    You can enter default values for the selection lists in the Spool edit dialog.<br/>
                    Please be aware, if you change the values in the following textareas it is not reflected to existing values!
                </div>
                <div class="control-group">
                    <label class="control-label">Vendors</label>
                    <div class="controls">
                        <textarea id="vendorsTextArea"
                                  rows="5"
                                  style="width:90%"
                                  >
JANBEX
MatterHackers
Prusament
Proto Pasta
                        </textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Materials</label>
                    <div class="controls">
                        <textarea id="materialTextArea"
                                  rows="5"
                                  style="width:90%"
                                  >
PLA;	1.24
PLA_plus;	1.24
ABS;	1.04
PETG;	1.27
NYLON;	1.52
TPU;	1.21
PC;	    1.3
Wood;	1.28
Carbon;	1.3
PC_ABS;	1.19
HIPS;	1.03
PVA;	1.23
ASA;	1.05
PP;	    0.9
POM;	1.4
PMMA;	1.18
FPE;	2.16
                        </textarea>
                    </div>
                </div>
-->

            </div>

            <!-- QR - Code - TAB -->
            <div class="tab-pane" id="tab-spool-QR-Code">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: pluginSettings.qrCodeEnabled" > Show generated QR-Code in Spool-Dialog.
                        </label>
                    </div>
                </div>
                <hr/>
                <div class="control-group">
                    <label class="control-label">Fill color</label>
                    <div class="controls">
                        <input type="text" class="input-midi text-left" data-bind="value: pluginSettings.qrCodeFillColor">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Background color</label>
                    <div class="controls">
                        <input type="text" class="input-midi text-left" data-bind="value: pluginSettings.qrCodeBackgroundColor">
                    </div>
                </div>
                <span class="help-inline">You can use RGB color code like '#23dda0' or use named color 'red'!</span>
            </div>

            <!-- EXPORT / IMPORT - TAB -->
            <div class="tab-pane" id="tab-spool-Export-Import">
                <h3>Export</h3>
                <div class="control-group">
                    <div class="controls">
                        <span><b>SpoolManager Database</b>: Export all data as <a target="_newTab" href="#" data-bind="attr: {href: $root.apiClient.getExportUrl('CSV')}">CSV-File</a></span>
                    </div>
                </div>
                <div class="control-group" data-bind="visible: isFilamentManagerPluginAvailable">
                    <div class="controls">
                        <span><b>Legacy: Filament Manager Database</b>: Export all data as <a target="_newTab" href="#" data-bind="attr: {href: $root.apiClient.getExportUrl('legacyFilamentManager'), css: {disabled: !$root.apiClient.getExportUrl('legacyFilamentManager')}}">CSV-File</a></span>
                    </div>
                </div>


                <h3>Import</h3>

                <div class="control-group">
                    <div class="controls">
                        <div class="row">
                            Import a CSV-File to the SpoolManager database.
                        </div>
                        <br/>
                        <div class="row">
                            <div class="span6">
                                <label class="radio">
                                    <input type="radio" name="importCSVMode" value="replace" data-bind="checked: pluginSettings.importCSVMode"> Replace current database
                                </label>
                                <label class="radio">
                                        <input type="radio" name="importCSVMode" value="append" data-bind="checked: pluginSettings.importCSVMode"> Append to database
                                </label>
                            </div>

                            <div class="span6">
                                <div class="input-prepend">
                                    <span class="btn fileinput-button">
                                        <span>Browse...</span>
                                        <input id="settings-spool-importcsv-upload"
                                               type="file"
                                               name="file"
                                               data-url="/plugin/SpoolManager/importCSV"
                                               accept=".csv">
                                    </span>
                                    <span class="add-on" data-bind="text: csvFileUploadName"></span>
                                </div>
                                <button class="btn btn-primary"
                                        data-bind="disable: (csvImportInProgress() || csvFileUploadName() == undefined), click: performCSVImportFromUpload">
                                    <i class="fa fa-spinner fa-spin"
                                       data-bind="visible: csvImportInProgress"></i> Upload & import
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div>
                            The CSV data will be added or totaly replaced the current database.
                        </div>
                        <div>
                            HINT: Before importing a backup file of the database will be automatically created. See Storage-Tab for more details.<!-- <a href="#tab-pjh-Storage" data-toggle="tab">storage folder</a>. -->
                        </div>
                        <br>
                        <div>
                            Format:
                            <ul>
                                <li>CSV-Delimiter is a comma</li>
                                <li>You need a header row and value rows</li>
                                <li>The order of the columns doesn't matter</li>
                                <li>Use allowed header names for importing values (see below). Other column names will be skipped</li>
                            </ul>
                            Mandatory column names:
                            <ul>
                                <li><code>Spool Name</code></li>
                            </ul>
                            <br>
                            Other column names:
                            <ul>
                                <li><code>Color Name</code></li>
                                <li><code>Color Code [hex]</code></li>
                                <li><code>Vendor</code></li>
                                <li><code>Material</code></li>
                                <li><code>...</code></li>
                            </ul>
                        </div>
                        <div>
                            Download a <a target="_newTab" href="#" data-bind="attr: {href: $root.apiClient.getSampleCSVUrl()}">sample csv</a> for a full list of all columns
                        </div>
                    </div>
                </div>


            </div>
            <!-- STORAGE - TAB -->
            <div class="tab-pane" id="tab-spool-Storage">
                <div class="control-group">

<!-- Instance name is not needed for SpoolManager
                    <h4>Instance Name</h4>
                    <div class="control-group" >
                        <label class="control-label" >OctoPrint Name</label>
                        <div class="controls">
                            <input type="text" class="input-large" >
                            <span class="help-block">The instance name is used to identified the print jobs in an external database. <br/>
                            <div class="alert">If you change this name, you can't read the print jobs from the dabase anymore. You need to manually replace the name in the external database. TODO implement renaming function.</div>
                            </span>
                        </div>
                    </div>
-->
                    <!-- LOCAL DATABASE -->
                    <h4>Local SQLite3 Database <i class='fa fa-spinner fa-spin' data-bind="visible: showLocalBusyIndicator"></i></h4>
                    <label class="radio">
                        <input type="radio" name="externalDatabaseGroup" data-bind="checked: pluginSettings.useExternal, checkedValue: false"> Use local SqLite3 database
                    </label>

                    <div class="controls">
                    </div>

                    <label class="control-label">Database file location</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" disabled class="input-xlarge text-right" data-bind="value: pluginSettings.databaseFileLocation"/>
                            <a href="#" class="btn btn-danger" title="ReCreate Database" data-bind="click: function() {deleteDatabaseAction('internal');}"><i class="icon-trash"></i></a>
                            <a href="#" class="btn btn-primary" title="Download Database" data-bind="attr: {href: downloadDatabaseUrl}" target="_blank"><i class="icon-download"></i></a>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Database Backupname</label>
                    <div class="controls">
                        e.g.<code>spoolmanager-backup-20200812-0924.db</code>
                    </div>
                </div>
                <div class="control-group no-bottom-gap">
                    <label class="control-label">Item count</label>
                    <div class="controls">
                        <input type="text" disabled class="input-small text-right" data-bind="value: databaseMetaData.localSpoolItemCount" value="123">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Scheme version</label>
                    <div class="controls">
                        <input type="text" disabled class="input-small text-right" data-bind="value: databaseMetaData.localSchemeVersionFromDatabaseModel" value="5">
                        <span>Plugin version</span>
                        <input type="text" disabled class="input-small text-right" data-bind="value: databaseMetaData.schemeVersionFromPlugin" value="5">
                    </div>
                </div>

                <!-- EXTERNAL DATABASE
                <h4>External Database <i class='fa fa-spinner fa-spin' data-bind="visible: showLocalBusyIndicator"></i></h4>
                <label class="radio">
                    <input type="radio" name="externalDatabaseGroup" data-bind="checked: pluginSettings.useExternal, checkedValue: true"> Use external database
                </label>


                <div class="control-group">
                    <label class="control-label">Type</label>
                    <div class="controls">
                        <select class="input-medium" data-bind="value: pluginSettings.databaseType">
                                <option value="postgres">PostgreSQL</option>
                                <option value="mysql">mySQL</option>
                        </select>
                        <button class="btn btn-warning pull-right" data-bind="click: function() {deleteDatabaseAction('external');}" style="margin-right: 80px;">ReCreate database</button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Host</label>
                    <div class="controls">
                        <input type="text" data-bind="value: pluginSettings.databaseHost"/>
                        <button class="btn btn-info pull-right" data-bind="click: testDatabaseConnection" style="margin-right: 80px;">Test connection</button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Port</label>
                    <div class="controls">
                        <input type="text" data-bind="value: pluginSettings.databasePort"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Database Name</label>
                    <div class="controls">
                        <input type="text" data-bind="value: pluginSettings.databaseName"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">User</label>
                    <div class="controls">
                        <input type="text" data-bind="value: pluginSettings.databaseUser"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Password</label>
                    <div class="controls">
                        <input type="password" data-bind="value: pluginSettings.databasePassword"/>
                    </div>
                </div>

                <div class="control-group no-bottom-gap">
                    <label class="control-label">Item count</label>
                    <div class="controls">
                        <input type="text" disabled class="input-small text-right" data-bind="value: databaseMetaData.externalSpoolItemCount" value="123">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Scheme version</label>
                    <div class="controls">
                        <input type="text" disabled class="input-small text-right" data-bind="value: databaseMetaData.externalSchemeVersionFromDatabaseModel" value="5">
                        <span>Plugin version</span>
                        <input type="text" disabled class="input-small text-right" data-bind="value: databaseMetaData.schemeVersionFromPlugin" value="5">
                    </div>
                </div>
                -->
                <div class="help-block" data-bind="visible: showDatabaseErrorMessage">
                    <span style="color: red; "><b><div data-bind="text: databaseErrorMessage"></div></b></span>
                </div>
                <div class="help-block" data-bind="visible: showSuccessMessage">
                    <font color="green"><b>Database connection successful</b></font>
                </div>
                <!-- TODO add
                <div class="help-block" data-bind="visible: showUpdateSchemeMessage">
                    <font color="orange"><b>Databasescheme doesn't match with required scheme version. Please do an <a target="newTab" href="https://github.com/OllisGit/OctoPrint-SpoolManager/wiki/Roadmap-to-an-external-Database">update</a>!</b></font>
                </div>
                -->
            </div>

            <!-- DEBUGGING - TAB -->
            <div class="tab-pane" id="tab-spool-Debugging">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: pluginSettings.sqlLoggingEnabled" > SQL Logging enabled
                        </label>
                        <span class="help-inline">Hint: You need to restart your server after you changed the checkbox value.</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>


