{% include "SpoolManager_tab_dialogs.jinja2" %}
{% import 'SpoolManager_tab_macros.jinja2' as forms %}
<div id="tab_spoolOverview">


    <!-- Filter / Sorting -->
    <div class="row-fluid" data-bind="visible: pluginNotWorking()==true">
        <div>
            <font color="red"><b>Plugin not working, because of Database issues. Check Plugin-Settings!</b></font>
        </div>
    </div>
    <div data-bind="visible: pluginNotWorking()==false">
        <div class="row-fluid" >
            <div class="span3">

                Total: <b><span data-bind="text: spoolItemTableHelper.totalItemCount">Anzahl</span></b>
                per Page:
                <select class="input-mini text-right"
                        data-bind="options: spoolItemTableHelper.pageSizeOptions,
                                   value: spoolItemTableHelper.selectedPageSize">
                </select>
                <a href="#" data-bind="click: spoolItemTableHelper.reloadItems" title="Force refresh" ><span class="icon-refresh"></span> Refresh</a>
                <div class="pull-left">
                    <button title="Add new Spool" class="btn" data-bind="click: addNewSpool"><i class="fa fa-plus"></i> Add Spool</button>
                </div>
            </div>

            <div class="span9">
                <!-- TODO Export CSV -->
                <div class="pull-right">
                    <small>
                        Sort by:
                        <a href="#" data-bind="click: function() { spoolItemTableHelper.changeSortOrder('displayName'); }">Name <span data-bind="text: spoolItemTableHelper.sortOrderLabel('displayName')"></span></a> |
                        <a href="#" data-bind="click: function() { spoolItemTableHelper.changeSortOrder('lastUse'); }">Last use <span data-bind="text: spoolItemTableHelper.sortOrderLabel('lastUse')"></span></a> |
                        <a href="#" data-bind="click: function() { spoolItemTableHelper.changeSortOrder('firstUse'); }">First use <span data-bind="text: spoolItemTableHelper.sortOrderLabel('firstUse')"></span></a> |
                        <a href="#" data-bind="click: function() { spoolItemTableHelper.changeSortOrder('remaining'); }">Remaining <span data-bind="text: spoolItemTableHelper.sortOrderLabel('remaining')"></span></a> |
                        <a href="#" data-bind="click: function() { spoolItemTableHelper.changeSortOrder('material'); }">Material <span data-bind="text: spoolItemTableHelper.sortOrderLabel('material')"></span></a>
                    </small>
                </div>
                <div class="pull-right" style="clear: both;">
                    <small>
                        Show spools:
                        <a href="#" data-bind="click: function() { spoolItemTableHelper.changeFilter('all'); }"><i class="icon-ok" data-bind="style: {visibility: spoolItemTableHelper.isFilterSelected('all') ? 'visible' : 'hidden'}"></i> all</a> |
                        <a href="#" data-bind="click: function() { spoolItemTableHelper.changeFilter('hideEmptySpools'); }"><i class="icon-ok" data-bind="style: {visibility: spoolItemTableHelper.isFilterSelected('hideEmptySpools') ? 'visible' : 'hidden'}"></i> hide empty</a> |
                        <a href="#" data-bind="click: function() { spoolItemTableHelper.changeFilter('hideInactiveSpools'); }"><i class="icon-ok" data-bind="style: {visibility: spoolItemTableHelper.isFilterSelected('hideInactiveSpools') ? 'visible' : 'hidden'}"></i> <h></h>ide inactive</a>
    <!--                    <a href="#" data-bind="click: function() { printJobHistoryTableHelper.changeFilter('onlyFailed'); }"><i class="icon-ok" data-bind="style: {visibility: printJobHistoryTableHelper.isFilterSelected('onlyFailed') ? 'visible' : 'hidden'}"></i> only failed</a>-->
                    </small>
                </div>
<!-- TODO FILTER ROW  ab hier BAUSTELLE !!!!!

        <div class="dropdown pull-right tabdrop">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-table"></i>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                ...


    <div class="dropdown pull-right tabdrop">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown Form<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">one
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Two
                    </label>
                </div>
            </li>
        </ul>
    </div>
-->

<!--  Filter row
<div class="pull-right" style="clear: both;">
Filter:
    <div class="dropdown pull-right tabdrop">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Material<b class="caret"></b></a>
            <div class="dropdown-menu keep-open"  style="list-style-type: none;">
                    <div data-bind="foreach: allMaterials">
                    <div class="checkbox" >
                        <label>
                            <input type="checkbox" > <span data-bind="text: $data"></span>
                        </label>
                    </div>
                    </div>


            </div>
    </div>

</div>

<div class="pull-right" style="clear: both;">
    <div class="dropdown pull-right tabdrop">
        Filter:
        <span>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Material
                <b class="caret"></b>
            </a>
            <div class="dropdown-menu" style="width: 220px">
                <div style="margin-left: 10px;">Material - Filter</div>
                <ul data-bind="foreach: allMaterials" style="list-style-type: none;">
                    <li >
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox" style="margin-left:0px">
                                    <input type="checkbox" data-bind="value:$data, checked:$root.selectedMaterialsForFilter"> <span data-bind="text: $data"></span>
                                </label>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </span>
        <span>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                |  Vendor
                <b class="caret"></b>
            </a>
            <div class="dropdown-menu" style="width: 220px">
                <div style="margin-left: 10px;">Vendor - Filter</div>
                <ul data-bind="foreach: allVendors" style="list-style-type: none;">
                    <li >
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox" style="margin-left:0px">
                                    <input type="checkbox" data-bind="value:$data, checked:$root.selectedVendorsForFilter"> <span data-bind="text: $data"></span>
                                </label>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </span>

        |&nbsp;&nbsp;&nbsp;
        <a  href="#">
            reset all filters
            <span class="icon-remove"></span>
        </a>

    </div>
</div>


-->




            </div>
        </div>


        <!-- START: COLUMN VISIBILITY    -->
        <!--
        Name
        Material
        Last/First Ise
        Weight
        Used
        Note
        -->
        <div class="dropdown pull-right tabdrop">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-table"></i>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div style="margin-left: 10px;">Attribute visibility</div>
                    <div class="row">
                        <div class="span3" style="margin-bottom:-10px">
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox" style="margin-left:10px">
                                        <input type="checkbox" data-bind="checked: tableAttributeVisibility.displayName"> Name
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3" style="margin-bottom:-10px">
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox" style="margin-left:10px">
                                        <input type="checkbox" data-bind="checked: tableAttributeVisibility.material"> Material
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3" style="margin-bottom:-10px">
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox" style="margin-left:10px">
                                        <input type="checkbox" data-bind="checked: tableAttributeVisibility.lastFirstUse"> Last/First use
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3" style="margin-bottom:-10px">
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox" style="margin-left:10px">
                                        <input type="checkbox" data-bind="checked: tableAttributeVisibility.weight"> Weight
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3" style="margin-bottom:-10px">
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox" style="margin-left:10px">
                                        <input type="checkbox" data-bind="checked: tableAttributeVisibility.used"> Used
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3" style="margin-bottom:-10px">
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox" style="margin-left:10px">
                                        <input type="checkbox" data-bind="checked: tableAttributeVisibility.note"> Note
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>



        <!-- Table start -->
        {{ forms.tablePagination() }}
        <table class="table table-striped table-hover table-condensed table-hover" style="clear: both;">
            <thead>
                <tr>
                    <th style="width: 24%" data-bind="visible: tableAttributeVisibility.displayName">Name</th>
                    <th style="width: 15%" data-bind="visible: tableAttributeVisibility.material">Material</th>
                    <th style="width: 13%;" data-bind="visible: tableAttributeVisibility.lastFirstUse">Last / First use</th>
                    <th style="text-align: center; width: 16%;" data-bind="visible: tableAttributeVisibility.weight">Weight</th>
                    <th style="text-align: center; width: 16%;" data-bind="visible: tableAttributeVisibility.used">Used</th>
                    <th style="width: 16%;" data-bind="visible: tableAttributeVisibility.note">Note</th>
    <!-- TODO remove action column                <th style="width: 9%"></th>
    -->
                </tr>
            </thead>
            <tbody data-bind="foreach: spoolItemTableHelper.paginatedItems" >
              <tr data-bind="click: function() { $root.showSpoolDialogAction($data); }">
                <td data-bind="visible: $root.tableAttributeVisibility.displayName"><span data-bind="text: displayName, attr: { title: displayName }"></span><br><i><span data-bind="text: vendor, attr: { title: vendor }"></span></i></td>
                <td data-bind="visible: $root.tableAttributeVisibility.material"><div class="pick-a-color-markup">
                        <span class="color-preview" data-bind="style: {'background-color': color}, attr: { title: colorName }" ></span>
                        <span style="vertical-align:super" data-bind="text: material"></span>
                    </div></td>
                <td data-bind="visible: $root.tableAttributeVisibility.lastFirstUse"><span data-bind="text: formatOnlyDate($data, 'lastUse')"></span><br><span data-bind="text: formatOnlyDate($data, 'firstUse')"></span></td>
                <td data-bind="visible: $root.tableAttributeVisibility.weight" style="text-align: right;"><span data-bind="text: remainingWeight"></span>g<br><span data-bind="text: totalWeight"></span>g</td>
                <td data-bind="visible: $root.tableAttributeVisibility.used" style="text-align: right;"><span data-bind="text: usedPercentage"></span>%<br><span data-bind="text: usedLength"></span>mm</td>
                <td data-bind="visible: $root.tableAttributeVisibility.note"><span data-bind="html: noteHtml, attr: { title: noteText }"></span></td>
              </tr>
            </tbody>
        </table>
        {{ forms.tablePagination() }}
    </div> <!-- visible -->
</div>





