{% import 'SpoolManager_tab_macros.jinja2' as forms %}
<span id="modal-dialogs-spoolManager" style="display:none" >

    <!-- CSV Import Status-Dialog -->
    <div id="dialog_spoolManager_csvImportStatus" class="modal hide fade">
        <div class="modal-header">
            <h3 class="modal-title">CSV Import-Status <i class="fa fa-spinner fa-spin" data-bind="visible: csvImportDialog.importInProgress"></i></h3>
        </div>
        <div class="modal-body">
            <div>Status: <b data-bind="text: csvImportDialog.importStatus"></b></div>
            <div data-bind="visible:csvImportDialog.currentLineNumber">Parsing/Importing line: <b data-bind="text: csvImportDialog.currentLineNumber"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.successMessages"><b data-bind="html: csvImportDialog.successMessages"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.errorMessages"><b style="color:red" data-bind="html: csvImportDialog.errorMessages"></b></div>
            <br/>
            <div data-bind="visible:csvImportDialog.backupFilePath">Backup Database: <b data-bind="html: csvImportDialog.backupFilePath"></b></div>
        </div>
        <div class="modal-footer">
            <div class="control-group">
                <div class="controls">
                    <button class="btn "  data-bind="disable: csvImportDialog.importInProgress, click: csvImportDialog.closeDialog" style="text-align:right">Close</button>
                </div>
            </div>
        </div>
    </div>


<!--    Spool EDIT Dialog-->
    <div id="dialog_spool_select" class="modal fade large" >
        <div class="modal-header">
            <h4 class="modal-title" ></h4>
            <div class="row">
                <div class="span1">
                    <span>
<!--                        <img class="inlineSVG" src="plugin/SpoolManager/static/images/spool_blue.svg" />-->
<svg enable-background="new 0 0 512 512" height="64px" width="64px" version="1.1" viewBox="0 0 512 512"  xml:space="preserve"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="svg-spool">
        <rect fill="#282828" height="288" width="418" x="54" y="121"/>
        <rect fill="#FFFFFF" height="113" width="5" x="54" y="216"/>
        <rect fill="#FFFFFF" height="113" width="5" x="467" y="216"/>
        <rect fill="#1E1E1E" height="494" width="31" x="64" y="18"/>
        <rect fill="#1E1E1E" height="494" width="31" x="431" y="18"/>
    </g>
    <g id="svg-filament">
        <rect fill="#0071BC" height="374" width="14" x="95" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="109" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="123" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="137" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="151" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="165" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="179" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="193" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="207" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="221" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="235" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="249" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="263" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="277" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="291" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="305" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="319" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="333" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="347" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="361" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="375" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="389" y="81"/>
        <rect fill="#0071BC" height="374" width="14" x="403" y="81"/>
        <rect fill="#0049BC" height="374" width="14" x="417" y="81"/>
        <path d="M120,81C120,4.17,237.184-58,382-58" fill="none" stroke="#0071BC" stroke-miterlimit="10" stroke-width="9"/>
    </g>
</svg>
                    </span>
                </div>
                <div class="span9">
                    <span data-bind="visible: spoolDialog.isExistingSpool() == false"><h2>NEW </h2></span>
                    <span><h2 data-bind="text: spoolDialog.spoolItemForEditing.displayName"></h2></span>
                </div>
<!--&lt;!&ndash;                <div class="span1"><i class="fa fa-exclamation-circle" style="font-size:18px;color:red"></i></div>&ndash;&gt;-->
<!--                <div class="span1"><span data-bind="css: {'icon-ok-sign' : printJobForEditing().printStatusResult() == 'success', 'icon-exclamation-sign' : printJobForEditing().printStatusResult() != 'success'}, style: { color: printJobForEditing().printStatusResult() == 'success' ? 'green' : 'red' }"></span></div>-->

<!--                <div class="span3"><b>Start</b> <span data-bind="value: printJobForEditing().printStartDateTimeFormatted" /></div>-->
<!--                <div class="span3"><b>Height</b> <span data-bind="value: printJobForEditing().printedHeight" /></div>-->
<!--                <div class="span2"></div>-->
<!--                <div class="span3"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="span1"></div>-->
<!--                <div class="span3"><b>End</b> <span data-bind="value: printJobForEditing().printEndDateTimeFormatted" /></div>-->
<!--                <div class="span3"><b>Layer</b> <span data-bind="value: printJobForEditing().printedLayers" /></div>-->
<!--                <div class="span2"></div>-->
<!--                <div class="span3"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="span1"></div>-->
<!--                <div class="span3"><b>Duration</b> <span data-bind="value: printJobForEditing().durationFormatted" /></div>-->
<!--                <div class="span3"></div>-->
<!--                <div class="span2"></div>-->
<!--                <div class="span3"></div>-->


                <div class="span2">
<!-- Customize Field visiblity

                    <div id="configFields" class="btn-group" >
                      <a id="openConfigFields" class="btn dropdown-toggle" onclick="machwas()"   href="#">
                        Configure Fields
                        <span class="caret"></span>
                      </a>
                      <ul id="configFieldsDropDown" class="dropdown-menu pull-right">
                        <li>
                              <div class="container" style="max-width: 480px;">
                                <h3>TODO: needs to be implemented</h3>
                                <div class="row">
                                    <div class="span1">&nbsp;</div>
                                    <div class="span2">
                                        <label class="checkbox"><input type="checkbox"> Displayname</label>
                                    </div>
                                    <div class="span2">
                                        <label class="checkbox"><input type="checkbox"> Material</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span1">&nbsp;</div>
                                    <div class="span2">
                                        <label class="checkbox"><input type="checkbox"> Displayname</label>
                                    </div>
                                    <div class="span2">
                                        <label class="checkbox"><input type="checkbox"> Material</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="span1">&nbsp;</div>
                                    <div class="span2">
                                        <label class="checkbox"><input type="checkbox"> Displayname</label>
                                    </div>
                                    <div class="span2">
                                        <label class="checkbox"><input type="checkbox"> Material</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                      </ul>
                    </div>
-->
                </div>

            </div>
        </div>
        <div class="modal-body hack-flowbreak"  style="">
            <form  class="form-horizontal" id="spool-form">
                <div class="row">
<!-- LEFT COLUMN -->
                        <div class="span6" >
                            <div class="control-group">
                                <label class="control-label">Displayname <sup>1</sup></label>
                                <div class="controls">
                                    <input data-bind="textInput: spoolDialog.spoolItemForEditing.displayName"  type="text" class="input-large"  />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Color</label>
                                <div class="row controls">
                                    <input data-bind="textInput: spoolDialog.spoolItemForEditing.colorName"  type="text" class="input-small"  /><input id="filament-color-picker" type="text" name="border-color" class="pick-a-color form-control input-mini">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Vendor</label>
                                <div class="controls">
                                    <select id="spool-vendor-select" class="input-large" data-bind="options: spoolDialog.spoolItemForEditing.allVendors, value: spoolDialog.spoolItemForEditing.vendor">
                                      <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group no-bottom-gap">
                                <label class="control-label">Material</label>
                                <div class="controls">
                                    <select id="spool-material-select" class="input-large" data-bind="options: spoolDialog.spoolItemForEditing.allMaterials, value: spoolDialog.spoolItemForEditing.material">
                                      <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group no-bottom-gap">
                                <label class="control-label">Density <sup>2,3</sup></label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" class="input-small text-right" data-bind="value: spoolDialog.spoolItemForEditing.density" />
                                        <span class="add-on">g/cm³</span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Diameter <sup>2</sup></label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" class="input-small text-right" data-bind="value: spoolDialog.spoolItemForEditing.diameter" />
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Temperature</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" class="input-small text-right" data-bind="value: spoolDialog.spoolItemForEditing.temperature" />
                                        <span class="add-on">°C</span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group no-bottom-gap">
                                <label class="control-label">Total weight <sup>2</sup></label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" class="input-small text-right" data-bind="value: spoolDialog.spoolItemForEditing.totalWeight" />
                                        <span class="add-on">g</span>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group no-bottom-gap">
                                <label class="control-label">Used weight</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" class="input-small text-right" data-bind="value: spoolDialog.spoolItemForEditing.usedWeight" />
                                        <span class="add-on">g</span>
                                    </div>
                                    <span class="input-append">
                                        <input type="text" class="input-mini text-right" disabled data-bind="value: spoolDialog.spoolItemForEditing.usedPercentage" />
                                        <span class="add-on">%</span>
                                    </span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Remaining weight</label>
                                <div class="controls">
                                    <span class="input-append">
                                        <input type="text" class="input-small text-right" disabled data-bind="value: spoolDialog.spoolItemForEditing.remainingWeight" />
                                        <span class="add-on">g</span>
                                    </span>
                                    <span class="input-append">
                                        <input type="text" class="input-mini text-right" disabled data-bind="value: spoolDialog.spoolItemForEditing.remainingPercentage" />
                                        <span class="add-on">%</span>
                                    </span>

                                </div>
                            </div>
                            <div class="control-group no-bottom-gap">
                                <label class="control-label">Used length</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text" class="input-small text-right" data-bind="value: spoolDialog.spoolItemForEditing.usedLength" />
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                            </div>
<!-- QR-Code scanner
                            <div class="control-group">
                                <label class="control-label">QR/Bar-Code</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input class="span2" type="text" class="input-large" data-bind="value: spoolDialog.spoolItemForEditing.code" />

                                            <button class="btn" type="button">Capture</button>
                                    </div>
                               </div>
                            </div>
-->
                            <div class="control-group" style="margin-bottom: -20px;">
                                <label class="">
                                    <div><sup>1</sup><small>Mandatory field</small></div>
                                    <div><sup>2</sup><small>Needed for filament usage prediction</small></div>
                                    <div><sup>3</sup><small>See <a href="https://bitfab.io/blog/3d-printing-materials-densities/" target="newTab">https://bitfab.io/blog/3d-printing-materials-densities/ (without warranty)</a></small></div>
                                 </label>
                            </div>

                        </div>
<!-- RIGHT COLUMN -->
                        <div class="span6" >
                            <div class="">
                                <div class="row">
                                    <div class="control-group  no-bottom-gap">
                                        <label class="control-label">Last use</label>
                                        <div class="controls" style="display:flex">
                                            {{ forms.datetimepicker('lastUse-date-picker', 'spoolDialog.spoolItemForEditing.lastUse') }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">First use</label>
                                        <div class="controls">
                                            {{ forms.datetimepicker('firstUse-date-picker', 'spoolDialog.spoolItemForEditing.firstUse') }}
                                        </div>
                                    </div>

                                    <div class="control-group no-bottom-gap">
                                        <label class="control-label">Purchased on</label>
                                        <div class="controls">
                                            {{ forms.datetimepicker('purchasedOn-date-picker', 'spoolDialog.spoolItemForEditing.purchasedOn') }}
                                        </div>
                                    </div>
                                    <div class="control-group no-bottom-gap">
                                        <label class="control-label">Purchased from</label>
                                        <div class="controls">
                                            <input type="text" class="input-xlarge text-left" data-bind="value: spoolDialog.spoolItemForEditing.purchasedFrom"/>
                                        </div>
                                    </div>
                                    <div class="control-group ">
                                        <label class="control-label">Cost</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="text" class="input-small text-right" data-bind="value: spoolDialog.spoolItemForEditing.cost"/>
                                                <span class="add-on" data-bind="text: spoolDialog.spoolItemForEditing.costUnit" >€</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Labels TODO FIXME
                                <div class="row">
                                    <div class="span6 text-center">
                                        <select id="spool-labels-select" multiple="true" data-bind="options: spoolDialog.spoolItemForEditing.allLabels, selectedOptions: spoolDialog.spoolItemForEditing.labels">
                                        </select>
                                    </div>
                                </div>
                                -->

                                <div class="row">
                                    <div class="span6 text-center">
                                        <div class="" style="margin-top:10px">
                                            <div class="">
<!--                                                <div class="spool-note-editor-container">-->
                                                    <div id="spool-note-editor" style="min-height:180px;"></div>
<!--                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

<!-- Image scanner -->
<!--<div class="control-group">-->
<!--                                <div class="row">-->
<!--                                    <div class="span6 text-center">-->
<!--                                         <img   src="http://localhost:5000/plugin/PrintJobHistory/static/images/janbex.png" alt=""/>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--</div>-->


                            </div>
                        </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="control-group">
                <div class="controls row-fluid">
                    <span class="span8" style="text-align:left">
                        <button type="button" class="btn btn-danger" data-bind="visible: spoolDialog.isExistingSpool,
                                                                                disable: printerStateViewModel.isPrinting(),
                                                                                click: spoolDialog.deleteSpoolItem" >Delete</button>
                        <div data-bind="visible: printerStateViewModel.isPrinting()">
                            <small>Deletion during printing is not possible</small>
                        </div>
                        <button type="button" class="btn btn-warning" data-bind="visible: spoolDialog.isExistingSpool,
                                                                                disable: printerStateViewModel.isPrinting(),
                                                                                click: spoolDialog.copySpoolItem" >Copy</button>
                        <label class="checkbox">
                                <input type="checkbox" data-bind="checked: spoolDialog.spoolItemForEditing.isTemplate" > Mark as template.&nbsp;&nbsp;&nbsp;

                                <span data-bind="visible: spoolDialog.templateSpool.isEmpty() == false">Current
                                    <span data-bind="visible: spoolDialog.spoolItemForEditing.isTemplate() == false">
                                        <span class="color-preview" data-bind="style: {'background-color': spoolDialog.templateSpool.color}" style="margin-bottom:-4px;"></span>
                                        <span style="margin-bottom:30px" ><span data-bind="text: spoolDialog.templateSpool.material">PETG</span> - <span data-bind="text: spoolDialog.templateSpool.displayName">Gute Spule ich schau mal was laueft</span> </span>
                                    </span>
                                    <span data-bind="visible: spoolDialog.spoolItemForEditing.isTemplate">
                                        <span class="color-preview" data-bind="style: {'background-color': spoolDialog.spoolItemForEditing.color}" style="margin-bottom:-4px;"></span>
                                        <span style="margin-bottom:30px" ><span data-bind="text: spoolDialog.spoolItemForEditing.material">PETG</span> - <span data-bind="text: spoolDialog.spoolItemForEditing.displayName">Gute Spule ich schau mal was laueft</span> </span>
                                    </span>
                                </span>
                        </label>

                    </span>
                    <span class="span4 text-right">
<!--                        data-bind="click: spoolDialog.closeSpoolItemDialog"-->
                        <button class="btn "  data-dismiss="modal"  style="text-align:right">Close</button>
                        <button class="btn btn-primary" data-bind="click: spoolDialog.saveSpoolItem" style="text-align:right">Save</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

</span>
