<div id="sidebar_spool_select" class="control-group">
<!--   TODO support for multiple spools for multiple tools -->

    <div id="selectedSpools" data-bind="foreach: selectedSpoolsForSidebar">
      <div>
          <div data-bind="if: $parent.selectedSpoolsForSidebar().length > 1">
             <b><span data-bind="text: $index"></span>:</b>
          </div>
          <!--<div data-bind="visible: $data">
             <span class="color-preview" data-bind="style: {'background-color': color}, attr: { title: colorName }" style="vertical-align: middle;"></span>
          </div>-->
          <!--<div class="spool-label" data-bind="visible: $data">
             <span data-bind="text: spool.displayName"></span>
          </div>
          <div class="spool-label" data-bind="visible: $data">
             No spool selected
          </div>-->
          <!-- ko ifnot: $data -->
          <div class="spool-label">
             No spool selected
          </div>
          <!-- /ko -->
          <!-- ko if: $data -->
          <div>
             <span class="color-preview" data-bind="style: {'background-color': color}, attr: { title: colorName }"></span>
          </div>
          <div class="spool-label">
             <span data-bind="text: material"></span> - <span  data-bind="text: displayName"></span>
             <span data-bind="text: $root.remainingText($data)" class="spool-remaining"></span>
          </div>
          <!-- /ko -->
          <div>
              <div class="btn-group">
                <!-- ko if: $data -->
                <button class="btn btn-mini" data-bind="click: $parent.editSpoolFromSidebar.bind($data, $index())" title="Edit Spool"><span class="icon-edit"></span></button>
                <button class="btn btn-mini" data-bind="click: $parent.deselectSpoolForSidebar.bind($data, $index())" title="Deselect Spool"><span class="icon-remove"></span></button>
                <!-- /ko -->

                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>

                <ul class="dropdown-menu dropdown-menu-right" data-bind="foreach: $parent.allSpoolsForSidebar">
                    <li>
                        <a href="#" data-bind="click: $root.selectSpoolForSidebar.bind($data, $parentContext.$index())">
                            <span class="color-preview" data-bind="style: {'background-color': $data.color}, attr: { title: $data.colorName }"></span>
                            <span class="filament-label">
                                <span><span data-bind="text: $data.material"></span> - <span data-bind="text: $data.displayName">FirstSpool</span></span>
                                <span data-bind="text: $root.remainingText($data)"></span>
                            </span>
                        </a>
                    </li>
                </ul>

            </div>
          </div>
      </div>
    </div>
    <nobr>
<!--  Not needed autorelaod implemented      <a href="#" data-bind="click: loadSpoolsForSidebar" title="Reload spools entries"><span class="icon-refresh"></span></a>-->
        <div>
            <span ><input style="vertical-align:text-bottom" type="checkbox" data-bind="checked: pluginSettings.hideEmptySpoolsInSidebar" > Hide empty spools</span>
            <span ><input style="vertical-align:text-bottom" type="checkbox" data-bind="checked: pluginSettings.hideInactiveSpoolsInSidebar" > Hide inactive spools</span>
        </div>
    </nobr>

  <div>
    <small>Order: last used.</small>
  </div>


</div>
