<div id="sidebar_spool_select" class="control-group">
<!--   TODO support for multiple spools for multiple tools -->

    <div id="selectedSpools" data-bind="foreach: selectedSpoolsForSidebar">
      <div>
          <div>
             <b><span data-bind="text: $index"></span>:</b>
             <span data-bind="html: label"></span>
          </div>
          <div data-bind="visible: item">
             <a href="#" data-bind="click: $parent.editSpoolFromSidebar.bind($data, $index())" title="Edit Spool"><span class="icon-edit"></span></a>
          </div>
          <div data-bind="visible: item">
             <a href="#" data-bind="click: $parent.deselectSpoolForSidebar.bind($data, $index())" title="Deselect Spool"><span class="icon-remove"></span></a>
          </div>
          <div>
              <div class="btn-group">
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>

                <ul class="dropdown-menu dropdown-menu-right" style="max-width:220px;" data-bind="foreach: $parent.allSpoolsForSidebar">
                    <li>
                        <a href="#" data-bind="click: $root.selectSpoolForSidebar.bind($data, $parentContext.$index())">
                            <span class="color-preview" data-bind="style: {'background-color': $data.color}, attr: { title: $data.colorName }" style="vertical-align: middle;"></span>
                            <span data-bind="text: $data.material"></span> - <span  data-bind="text: $data.displayName">FirstSpool (125g/96%)</span>
                            <span data-bind="text: $root.remainingText($data)"></span>
                        </a>
                    </li>
                </ul>

            </div>
          </div>
      </div>
    </div>
    <nobr>
<!--  Not needed autorelaod implemented      <a href="#" data-bind="click: loadSpoolsForSidebar" title="Reload spools entries"><span class="icon-refresh"></span></a>-->
        <div>
            <span ><input style="vertical-align:text-bottom" type="checkbox" data-bind="checked: pluginSettings.hideEmptySpoolsInSidebar" > Hide empty spools</span>
            <span ><input style="vertical-align:text-bottom" type="checkbox" data-bind="checked: pluginSettings.hideInactiveSpoolsInSidebar" > Hide inactive spools</span>
        </div>
    </nobr>

  <div>
    <small>Order: last used.</small>
  </div>


</div>
